@using PagedList;
@using PagedList.Mvc;
@model IPagedList<VehicleMonoProject.MVC.ViewModels.ModelViewModel>
@{
    /**/

    ViewBag.Title = "VehicleModelList";
}

<link rel="stylesheet" type="text/css" href="~/style.css">

<h3 class="align">VehicleModel List</h3>

@using (Html.BeginForm("VehicleModelList", "VehicleModel"))
{
    <div class="filter">
        <div class="filterpart">
            <label>Search(by name):</label>
            <input class="roundcorners" type="text" name="search" value="@ViewBag.search" placeholder="Search">
        </div>
        <div class="filterpart">
            <label>Sort:</label>
            <select name="sort" class="roundcorners">
                <option value="Name" @(ViewBag.sort == "MakeId" ? "selected" : "")>Name</option>
                <option value="Name" @(ViewBag.sort == "Name" ? "selected" : "")>Name</option>
                <option value="Abrv" @(ViewBag.sort == "Abrv" ? "selected" : "")>Abrv</option>
            </select>
        </div>
        <div class="filterpart">
            <label>Direction:</label>
            <select name="direction" class="roundcorners">
                <option value="Ascending" @(ViewBag.direction == "Ascending" ? "selected" : "")>Ascending</option>
                <option value="Descending" @(ViewBag.direction == "Descending" ? "selected" : "")>Descending</option>
            </select>
        </div>
        <div class="filterpart">
            <input type="submit" class="buttonsearch roundcorners" value="Search" />
        </div>
    </div>
}
<br />

<table class="table align">
    <tr>
        <th>
        </th>
        <th>
            MakeId
        </th>
        <th>
            Name
        </th>
        <th>
            Abrv
        </th>
        <th>
            @Html.ActionLink("Create New", "Create", null, new { @class = "buttoncreate" })
        </th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            <img src="~/Images/VehicleModelImages/@item.Image" alt="@item.Name"/>
        </td>
        <td>
            <span> @Html.DisplayFor(modelItem => item.MakeId)</span>
        </td>
        <td>
            <span> @Html.DisplayFor(modelItem => item.Name)</span>
        </td>
        <td>
            <span> @Html.DisplayFor(modelItem => item.Abrv)</span>
        </td>
        <td>
            <span>
                @Html.ActionLink("Edit", "Update", "VehicleModel", new { ID = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "VehicleModel", new { ID = item.Id }, null)
            </span>
        </td>
    </tr>
    }

</table>
<div class="align">
    <div class="row">
        <div class="page-list">
            @Html.PagedListPager(Model, page => Url.Action("VehicleModelList", new { page, search = ViewBag.search, sort = ViewBag.sort, direction = ViewBag.direction }))
        </div>
    </div>
</div>
