@using PagedList;
@using PagedList.Mvc;
@model IPagedList<VehicleMonoProject.MVC.ViewModels.MakeViewModel>
@{
    /**/

    ViewBag.Title = "VehicleMakeList";
}
<link rel="stylesheet" type="text/css" href="~/Main.css">

<h3>VehicleMake List</h3>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("VehicleMakeList", "VehicleMake"))
{
    <label>Search(by name):</label>
    <input type="text" name="search" value="@ViewBag.search">

    <label>Sort:</label>
    <select name="sort">
        <option value="Name" @(ViewBag.sort == "Name" ? "selected" : "")>Name</option>
        <option value="Abrv" @(ViewBag.sort == "Abrv" ? "selected" : "")>Abrv</option>
    </select>

    <label>Direction:</label>
    <select name="direction">
        <option value="Ascending" @(ViewBag.direction == "Ascending" ? "selected" : "")>Ascending</option>
        <option value="Descending" @(ViewBag.direction == "Descending" ? "selected" : "")>Descending</option>
    </select>
    <input type="submit" class="button" value="Search" />
}
<br />

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Abrv
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abrv)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", "VehicleMake", new { ID = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "VehicleMake", new { ID = item.Id }, null)
            </td>
        </tr>
    }

</table>
<div class="align">
    <div class="row">
        <div class="page-list">
            @Html.PagedListPager(Model, page => Url.Action("VehicleMakeList", new { page, search = ViewBag.search, sort = ViewBag.sort, direction = ViewBag.direction }))
        </div>
    </div>
</div>